#!/usr/bin/env python
import subprocess
from subprocess import Popen, PIPE 


{% for sg in server_groups  %}

# get the list of war in sg
p = Popen(['/opt/jboss-eap-7.2/bin/jboss-cli.sh','-c', '--controller={{ ansible_facts['default_ipv4']['address']}}:9990', '--command=ls /server-group={{ sg }}/deployment'], stdout=PIPE)
lista = p.communicate()
lista_wars = lista[0].split()

for app in lista_wars:
    comando = '/opt/jboss-eap-7.2/bin/jboss-cli.sh' + ' -c' + ' --controller={{ ansible_facts['default_ipv4']['address']}}:9990' + ' --command='+'"/server-group={{ sg }}/deployment=' + app + ':remove()"'
    subprocess.call(comando, shell=True)

{% endfor %}
